/* Write your code here: */

h1, h2{

    color: blueviolet;
}

.box > .done{

    color: firebrick;
}

li.done{ /* has hierarchy only since the descendant thing applies to the ul*/

    color: forestgreen;
}


body .list { 

    color: blue;
} 

ul > p.done{

    font-size: 0.5rem;

}

